<html>
<head>
<script>
function submitForm(oFormElement){
  var params = { 
        {{#properties}} 
        {{name}}:  document.querySelector('#id_{{name}}').value,
        {{/properties}}
    };
    {{#references}}
    if({{isManyToMany}}){
        var classes = []
        var list = document.querySelectorAll( 'input[type=checkbox]' );
        for (var item of list) {
            if(!classes.includes(item.className)) classes.push(item.className)
         
        }
        classes.forEach((e)=>{
            var checkboxes = []
            var nodes = document.querySelectorAll( '.'+e );
            for(var node of nodes){
                if(node.checked){
                    checkboxes.push(node.value)
                } 
            }
            
            let name = e.split("_checkbox")[0]

            params[name+'_id']= checkboxes;
        })
        console.log(params)


    }else{
        var classes = []
        var list = document.querySelectorAll( 'select' );
        for (var item of list) {
            console.log(item.className)
            if(!classes.includes(item.className)) classes.push(item.className)
         
        }
        classes.forEach((el)=>{
            console.log("CLASS NAME "+el)
            var e = document.querySelectorAll( '.'+el);
            var result = e.options[e.selectedIndex].value;
            
            let name = el.split("_checkbox")[0]
            console.log(name)

            params[name+'_id']= result;
        })
        console.log(params)

    }
    
    {{/references}}
  
    var xhr = new XMLHttpRequest();
    xhr.onerror = function(){ alert (xhr.responseText); } // failure case
    xhr.open (oFormElement.method, oFormElement.action, true);
    xhr.setRequestHeader( "Content-Type", "application/json" );
    xhr.send (JSON.stringify(params));
}

{{#hasReferences}}
    function loadValues(model, label, controlId, isManyToMany,values){
        let routeObj = "/api/"+model+values;
        var obj =[]
        var xhr1 = new XMLHttpRequest();
        xhr1.open("GET", routeObj, true);

        xhr1.onreadystatechange = function () {
            if(xhr1.readyState === 4 && xhr1.status === 200) {

                var response = JSON.parse(this.responseText);
                for(var i= 0; i<response.length; i++){
                    var aux = response[i]
                    var data = {}
                    Object.getOwnPropertyNames(aux).forEach((val,index,arr)=>{
                        data[val]= aux[val];
                    })  
                    obj.push(data)
                }
                
            }
        }
        xhr1.send();
        let route = '/api/'+model;
        var xhr2 = new XMLHttpRequest();
        xhr2.open("GET", route, true);
        xhr1.onload= xhr2.send()

        xhr2.onreadystatechange = function () {
            if(xhr2.readyState === 4 && xhr2.status === 200) {
                var control = document.getElementById(controlId);
                var data = JSON.parse(this.responseText);
                if(isManyToMany){
                if(data.constructor === Array){ 
                        data.map(row => {
                                var checkbox = document.createElement("input");
                                checkbox.type = "checkbox"; 
                                checkbox.className = model+"_checkbox";

                                checkbox.value = row['id'];
                                checkbox.id = "checkbox_"+ row['id']; 
                                if(obj){
                                    console.log(obj)

                                    for(let i = 0 ; i<obj.length; i++){
                                        let aux  = obj[i];
                                        let id = aux[model+"_id"];
                
                                        if(row['id'] == id) checkbox.checked=true;
                                    }
                                }

                                var l = document.createElement('label');                 
                                l.htmlFor ="checkbox_"+ row['id'];                             
                                l.appendChild(document.createTextNode(row[label])); 
                                control.appendChild(checkbox); 
                                control.appendChild(l); 
                        
                        });
                    }
                }else{ 
                    var select = document.createElement("select");
                    select.id = 'select_'+model ;
                    select.className = 'select_'+model ;

                    data.forEach(row => {
                        var option = document.createElement("option");
                        option.text = row[label];
                        option.value = row['id'];
                        if(obj){
                            for(let i = 0 ; i<obj.length; i++){
                                let aux  = obj[i];
                                let id = aux["id"];
                                console.log(aux)
                                console.log(id)
                                if(row['id'] == id) option.selected=true;
                            }
                        }
                        select.add(option);
                    });
                    control.appendChild(select);
                }
            }
        }
    }
    window.onload = function() {
        {{#references}}
        loadValues('{{model}}','{{label}}','div{{model}}value', {{isManyToMany}}, '{{{values}}}');
        {{/references}}
    }
 {{/hasReferences}}


</script>
</head>
    <body>
     {{>menu}}

    <form method="post" action="/api/{{title}}/" onsubmit="return submitForm(this);">
        Edit {{title}}

        {{#properties}}
            <div>
                <label>{{name}} {{^required}} * {{/required}}:</label>
                <input id="id_{{name}}" name="{{name}}" value="{{value}}"{{#restrictions}} {{restriction}}='{{val}}'  {{/restrictions}} {{^required}} required {{/required}} />
            </div>
        {{/properties}}  
         {{#references}}
        <label>{{model}}:</label>
        <div id="div{{model}}value"></div>
        {{/references}}
        <input type="submit" onsubmit="" value="Save"/>

        </form>
    </body>
</html>
