var express = require("express");
var bodyParser = require("body-parser");
var mustacheExpress = require('mustache-express');
var fs = require("fs");
var del = require("del");
var mkdirp = require("mkdirp")
const sqlite3 = require('sqlite3').verbose()
var Promise = require('promise');

var app = express();
app.use(express.static('Public'));
app.use(bodyParser.urlencoded());
app.use(bodyParser.json());
app.engine('mustache', mustacheExpress());
app.set('view engine', 'mustache'); //extensão dos ficheiros das views
app.set('views', './Publish/Views'); //indicação de qual a pasta que irá conter   as views


//Schemas 
var schemas =new Array();


app.post("/generate", function (req, res) {
  
    fs.mkdir('{{{dbpath}}}', function() {});

    //Copy Schemas
    {{#schemas}} 
    fs.copyFileSync('{{{path}}}','./Publish/Schemas/Schema-'+'{{{name}}}'+'.json');
    schemas.push(JSON.parse(fs.readFileSync('./Publish/Schemas/Schema-'+'{{name}}'+'.json')));

    {{/schemas}}  

    //Copy static files
    {{#staticFiles}} 
    fs.copyFileSync('{{{originalPath}}}','{{{destinationPath}}}');
    {{/staticFiles}}

    const db = require("../database/generate-database.js");
    //Create Database
    db.generate('{{{dbpath}}}/{{dbname}}.db','{{dbname}}',schemas, db.relations);
    
    //Create Models from schemas
    require("../models/generate-class.js")('{{{dbpath}}}/{{dbname}}',schemas);

    //Create Routes file
    var generate = require("../restful-api/generate-api.js");
    generate.generateAPI(schemas,
    ()=>{ 
         generate.generateFrontoffice( 
            ()=>{
                var api = require('../Publish/Controllers/api.js');
                    app.use('/api', api)
                    var backoffice = require('../Publish/Controllers/backoffice.js');
                    app.use('/backoffice', backoffice)
                    var frontoffice = require('../Publish/Controllers/frontoffice.js');
                    app.use('/frontoffice', frontoffice)
            })
       
        });
       
    res.send();
});

var server = app.listen({{port}}, function () {
    var host = server.address().address === "::" ? "localhost" : server.address().address;
    var port = server.address().port;
    console.log("Example app listening at http://%s:%s", host, port);
});