var express = require("express");
var bodyParser = require("body-parser");
var fs = require("fs");
var del = require("del");
var mkdirp = require("mkdirp")
var app = express();
app.use(express.static('Public'));
app.use(bodyParser.urlencoded());
app.use(bodyParser.json());
const sqlite3 = require('sqlite3').verbose()
var Promise = require('promise');



//Schemas 
var schemas =new Array();


app.post("/generate", function (req, res) {
    //Delete previous folders
    del.sync(['Publish']);

    //Create folders

    //Create Publish folder
    fs.mkdir("./Publish", function(){});
    
    //Create Schemas folder
    fs.mkdir("./Publish/Schemas",function(){}); 
            
    //Copy Schemas
    {{#schemas}} 
    fs.copyFileSync('{{{path}}}','./Publish/Schemas/Schema-'+'{{{name}}}'+'.json');
    schemas.push(JSON.parse(fs.readFileSync('./Publish/Schemas/Schema-'+'{{name}}'+'.json')));

    {{/schemas}}  

    //Create Database folder
    fs.mkdir("./Publish/Database",function(){ 
        //Copy static files
        {{#staticFiles}} 
        fs.copyFileSync('{{{originalPath}}}','{{{destinationPath}}}');
        {{/staticFiles}}


    });
    //Create Folder for project's database

    fs.mkdir('{{{dbpath}}}', function(){
        //Create Database
        require("../database/generate-database.js")('{{{dbpath}}}/{{dbname}}',schemas);
    });

    //Create Models folder
    fs.mkdir("./Publish/Models",function(){
        //Create Models from schemas
        require("../models/generate-class.js")('{{{dbpath}}}/{{dbname}}',schemas);

    });

    //Create Controllers folder
    fs.mkdir("./Publish/Controllers", function(){
        //Create Routes file
        var generate = require("../restful-api/generate-api.js");
        new Promise((result, reject)=> generate(schemas)).then(
            function(result){
                try{     
                    //Execute routes file 
                    var api = require('../Publish/Controllers/api.js');
                    
                    //Middleware expression
                    app.use('/api/', api)
                }catch(e){
                    console.log(e)
                }
            }
        );
        

    });
     //Create Views folder
    fs.mkdir("./Publish/Views",function(){});
  
    //Create Public folder
    fs.mkdir('./Publish/Public', function () {
        fs.writeFile('Publish/Public/index.js', fs.readFileSync("./index.js"), function () {
            console.log('File created in new directory');
        });

    });
    
    mkdirp.sync('./Publish/Public/Css/Js');
        
 
    res.send();
});

var server = app.listen({{port}}, function () {
    var host = server.address().address === "::" ? "localhost" : server.address().address;
    var port = server.address().port;
    console.log("Example app listening at http://%s:%s", host, port);
});