var express = require("express");
var bodyParser = require("body-parser");
var fs = require("fs");
var del = require("del");
var mkdirp = require("mkdirp")
var app = express();
app.use(express.static('Public'));
app.use(bodyParser.urlencoded());
app.use(bodyParser.json());
const sqlite3 = require('sqlite3').verbose()
var Promise = require('promise');



//Schemas 
var schemas =new Array();


app.post("/generate", function (req, res) {
    //Apagar pastas antigas
    del.sync(['Publish']);

    //Criação de pastas
    fs.mkdir("./Publish", function(){
        console.log("Publish created");
    });
    
    fs.mkdir("./Publish/Schemas",function(){
  
    }); 
            
        //Copy Schemas

    {{#schemas}} 
    fs.copyFileSync('{{{path}}}','./Publish/Schemas/Schema-'+'{{{name}}}'+'.json');
    schemas.push(JSON.parse(fs.readFileSync('./Publish/Schemas/Schema-'+'{{name}}'+'.json')));

    {{/schemas}}  


    fs.mkdir("./Publish/Database",function(){ 
        //Copy static files
        {{#staticFiles}} 
        fs.copyFileSync('{{{originalPath}}}','{{{destinationPath}}}');
        {{/staticFiles}}


    });
    fs.mkdir('{{{dbpath}}}', function(){
        //Database
        require("../database/generate-database.js")('{{{dbpath}}}/{{dbname}}',schemas);

    })

    fs.mkdir("./Publish/Models",function(){
        //Create Models from schemas
        require("../models/generate-class.js")('{{{dbpath}}}/{{dbname}}',schemas);

    });

    fs.mkdir("./Publish/Controllers", function(){
        //ROUTES
        var generate = require("../restful-api/generate-api.js");
        new Promise((result, reject)=> generate(schemas)).then(
            function(result){
                try{      

                    var api = require('../Publish/Controllers/api.js');
                    //Middleware
                    app.use('/api/', api)
                }catch(e){
                    console.log(e)
                }
            }
        );
        

    });
     //Create Views folder
    fs.mkdir("./Publish/Views",function(){});
  
    //Create Public folder
    fs.mkdir('./Publish/Public', function () {
        fs.writeFile('Publish/Public/index.js', fs.readFileSync("./index.js"), function () {
            console.log('File created in new directory');
        });

    });
    
    mkdirp.sync('./Publish/Public/Css/Js');
        
 
    res.send();
});

var server = app.listen({{port}}, function () {
    var host = server.address().address === "::" ? "localhost" : server.address().address;
    var port = server.address().port;
    console.log("Example app listening at http://%s:%s", host, port);
});